.select2-selection__choice{
    background-color: #1b2d1f !important;
}
.image_detail_product,.feature_image{
    width: 100%;
    height: 130px;
    object-fit: cover;
}
.container_image_detail,.feature_image_container{
    margin-top: 20px;
}
.alert-danger{
    margin-top:15px ;
    padding: 10px 5px;
}
